<footer class="footer">
    <div class="container-fluid">
        <div class="row text-body-secondary">
            <!-- Left Section -->
            <div class="col-6 text-start">
                <a class="text-body-secondary" href="#">
                    <strong style="color: #052C65;">The Glamour</strong>
                </a>
            </div>

            <!-- Right Section -->
            <div class="col-6 text-end text-body-secondary d-none d-md-block">
                <ul class="list-inline mb-0">
                    <li class="list-inline-item">
                        <a class="text-body-secondary" href="#">
                            Contact
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a class="text-body-secondary" href="#">
                            About Us
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a class="text-body-secondary" href="#">
                            Terms & Conditions
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>