<div class="container-fluid p-0 position-relative overflow-hidden" style="background-color: #E0E0E0;">
    <!-- Headline and Image Section -->
    <div class="row align-items-center">
        <!-- Left Column: Headline Text -->
        <div class="col-md-6 p-5">
            <h1 class="display-2 fw-bold" style="font-family: 'Kaisei HarunoUmi';">THE GLAMOUR</h1><br />
            <p class="lead align-items-center" style="font-family: 'Kaushan Script'; font-size: 3.2rem;">Crafting Elegance,<br /> One Look at a Time.</p>
        </div>

        <!-- Right Column: Image -->
        <div class="col-md-6 p-0">
            <img src="~/images/Model_new.png"
                 alt="Headline"
                 class="img-fluid"
                 style="width: 100%; position: relative; right: 0px;" />
        </div>
    </div>

    <!-- Black Divider -->
    <div class="w-100 bg-black" style="height: 10px;"></div>
</div>
