@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

.navbar-custom {
    background-color: #6b5b6b;
    margin-bottom: 0;
    position: sticky;
}

.brand-logo-img {
    height: 130px;
    position: relative;
}

.navbar-nav .nav-link {
    color: black;
    font-weight: bold;
    margin-right: 15px;
    font-family: "Kaisei HarunoUmi";
    font-size: 23px;
}
